.controls > * {
  display: inline-block;
  vertical-align: top;
}
.controls-stepper-wrapper {
  width: 300px;
}
.controls-compile {
  width: 100%;
  text-align: center;
}
.controls-compile button {
  width: initial !important;
  background: var(--primary-color) !important;
  border-radius: var(--default-border-radius) !important;
  box-shadow: none !important;
}
.player-controls-right {
  text-align: right;
}

.player-controls-playback button {
  width: 40px;
  text-align: center;
}
.player-controls-times {
  width: 120px;
  text-align: center;
  vertical-align: top;
  line-height: 30px;
}
.player-slider-container {
  padding: 0 10px;
}
.player-slider-container .rc-slider {
  width: 100%;
  height: 24px;
  position: relative;
  padding: 0;
}
.player-slider-container .rc-slider-rail,
.player-slider-container .rc-slider-track {
  margin-top: 10px;
}
.player-slider-container .rc-slider-handle {
  margin-top: 5px;
}
.player-slider-container .rc-slider-track {
  background-color: #abe2fb;
}
