.object-toggle {
  cursor: pointer;
}
.object-toggle .toggle-icon {
  color: #b8b246;
}
.object-toggle:hover .toggle-icon {
  color: #000000;
}
.object-toggle-open {
  display: inline-block;
  min-width: 60px;
}

.function-name {
  color: #53b846;
}
.variable-name {
  color: #d25ff8;
}

.value-string {
  color: #f85f5f;
}
.value-scalar {
  color: #5f86f8;
}
.value-empty {
  color: #b8b246;
}

.value-object-closed {
  color: #b8b246;
}
