.player-slider-container {
  background-color: #f8f8f8;
}
.player-slider-container .rc-slider {
  height: 34px; /* 15px + 4px + 15px */
  margin: 0px 20px;
  position: relative;
}
.player-slider-container .rc-slider-rail,
.player-slider-container .rc-slider-track {
  margin-top: 10px;
}
.player-slider-container .rc-slider-handle {
  margin-top: 5px;
}
.player-slider-container .rc-slider-track {
  background-color: #abe2fb;
}
