@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$font-family-sans-serif: 'Open Sans';
$font-family-monospace: 'Inconsolata';
$screen-sm-min: 800px;   // sm: format FUN
$container-sm: $screen-sm-min;
$screen-md-min: 1024px;  // md: format normal
$grid-gutter-width: 6px;

@import 'jspm:bootstrap-sass/assets/stylesheets/bootstrap';


@font-face {
  font-family: 'fioi';
  src: url('/assets/fioi.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.fi {
  display: inline-block;
  font: normal normal normal 14px/1 'fioi';
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fi-step-over:before {
  content: "\e000";
}
.fi-step-into:before {
  content: "\e001";
}
.fi-step-out:before {
  content: "\e002";
}
.fi-step-expr:before {
  content: "\e003";
}
.fi-interrupt:before {
  content: "\e004";
}
.fi-restart:before {
  content: "\e005";
}

body#app {
  background: none transparent;
}
body#app, #app h1, #app h2, #app h3 {
  font-size: 14px;
  font-weight: normal;
  font-family: $font-family-sans-serif;
}
#app h1, #app h2, #app h3 {
  line-height: 1;
  padding: 2px;
  background-color: #eee;
}
#app h1 {
  font-size: 18px;
}
#app h2 {
  font-size: 16px;
}
#app h3 {
  font-size: 14px;
}

#app pre, #app .ace_editor, .terminal, .stack-view {
  font-size: 14px;
  font-weight: normal;
  font-family: $font-family-monospace;
}
#app ul {
  margin-bottom: 2px;
}

#app .panel {
  margin-bottom: 6px;
  border-radius: 0;
}
#app .panel-heading {
  line-height: 1;
  padding: 2px 4px;
}
#app .panel-body {
  padding: 0;
  min-height: 14px;
}

#app pre {
  background: inherit;
  border: none;
}

.terminal {
  margin: 4px;
  line-height: 16px;
  background: #222;
}
.terminal-line, .terminal-placeholder {
  background: black;
  width: 480px; /* 60 columns * 8px */
  min-height: 1em;
  white-space: pre;
}
.terminal-line {
  color: #C80;
}
.terminal-placeholder {
  color: #AAA;
}

#vumeter {
  position: fixed;
  left: 10px;
  top: 10px;
}

.stack-view .scope-decl-load {
  font-weight: bold;
}
.stack-view .scope-decl-prevValue {
  text-decoration: line-through;
  padding-left: 0.5em;
}
.stack-view .scope-function-top {
  font-weight: bold;
}
.stack-view .scope-function-return {
  padding-left: 24px;
}
.stack-view .scope-function-retval {
  display: inline-block;
  margin-left: 8px;
  font-weight: bold;
}
.stack-view .stack-bottom {
  width: 100%;
  height: 2px;
  border: 2px;
}

.constantArray-elems {
  margin: 2px;
}
.constantArray-elemView {
  float: left;
  width: 64px;
  border: 1px solid black;
}
.constantArray-lastElem {
  border: 1px solid #bbb;
  background: #e8e8e8;
}
.constantArray-elemView, .constantArray-lastElem {
  border-left: 0;
}
.constantArray-elemView:first-child {
  border-left: 1px solid black;
}
.constantArray-elemView > * {
  overflow: hidden;
  text-align: center;
  height: 20px;
}

.value-loaded {
  font-weight: bold;
}
.value-changed {
  text-decoration: line-through;
}

.dev-EventsPanel {
  overflow-y: scroll;
  max-height: 400px;
  font-family: $font-family-monospace;
  font-size: 8px;
}
.dev-EventView {
  width: 100%;
  overflow: hidden;
  max-height: 12px;
}

.code-highlight {
  position: absolute;
  background: rgba(100,200,100,0.5);
  z-index: 20;
}

.pane-controls {
  margin-bottom: 6px;
}
.pane-controls > * {
  float: left;
}
.pane-controls > .pane-controls-right {
  float: right;
}
.pane-controls > .pane-controls-right > * {
  float: left;
}
.pane-controls p {
    margin: 7px 7px;
}

.controls > * {
  float: left;
}
.controls-stepper {
  margin: 0 10px;
}
.controls-stepper button.btn-default {
    background: #f0f0f0;
}
.controls-stepper-execution {
  width: 179px;
}
.controls-stepper-execution p {
  text-align: center;
}
.controls-translate button {
  width: 85px;
  text-align: center;
}
.player-controls-playback button {
  width: 40px;
  text-align: center;
}
.player-controls-times {
  width: 120px;
  text-align: center;
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  #app pre, #app .ace_editor, .terminal, .stack-view {
    font-size: 10px;
  }
  .terminal-line, .terminal-placeholder {
    width: 60 * 5px;
  }
  .pane-controls button.btn {
    padding: 3px 8px;
  }
  .pane-controls p {
    font-size: 12px;
    margin: 5px 5px;
  }
  .player-slider {
    width: 180px;
    height: 27px;
    margin: 0px 12px;
  }
  .player-controls-playback button {
    width: 30px;
  }
  .controls-translate button {
    width: 80px;
  }
  .player-controls-times {
    width: 90px;
  }
  .nav-examples > li > a {
    padding: 3px 5px;
  }
  .constantArray-elemView {
    font-size: 10px;
    width: 45px;
  }
  .constantArray-elemView > * {
    height: 14px;
  }
}
