.dev-EventsPanel {
  overflow-y: scroll;
  max-height: 400px;
  font-family: monospace;
  font-size: 8px;
}

.dev-EventView {
  width: 100%;
  overflow: hidden;
  max-height: 12px;
}

.terminal {
  font-family: monospace;
  background: black;
  color: #C80;
  padding: 4px;
  line-height: 20px;
}
.terminal-line {
  min-height: 1em;
  white-space: pre;
}

#vumeter {
  position: fixed;
  left: 10px;
  top: 10px;
}
