@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$font-family-sans-serif: 'Open Sans';
$font-family-monospace: 'Inconsolata';

$screen-lg-min: 1200px;  // lg: normal/wide format
$font-size-lg: 18px;
$line-height-lg: 25px;

$screen-md-min: 1024px;  // md: narrow format
$font-size-md: 14px;
$line-height-md: 20px;

$screen-sm-min: 800px;   // sm: FUN format
$font-size-sm: 12px;
$line-height-sm: 17px;

$container-sm: $screen-sm-min;
$grid-gutter-width: 6px;
$nav-link-padding: 7px 12px;

@import 'jspm:bootstrap-sass/assets/stylesheets/bootstrap';

@font-face {
  font-family: 'fioi';
  src: url('/assets/fioi.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.fi {
  display: inline-block;
  font: normal normal normal 14px/1 'fioi';
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fi-step-over:before {
  content: "\e000";
}
.fi-step-into:before {
  content: "\e001";
}
.fi-step-out:before {
  content: "\e002";
}
.fi-step-expr:before {
  content: "\e003";
}
.fi-interrupt:before {
  content: "\e004";
}
.fi-restart:before {
  content: "\e005";
}

body#app {
  background: none transparent;
}
body#app, #app h1, #app h2, #app h3 {
  font-size: 14px;
  font-weight: normal;
  font-family: $font-family-sans-serif;
}
#app h1, #app h2, #app h3 {
  line-height: 1;
  padding: 2px;
  background-color: #eee;
}
#app h1 {
  font-size: 18px;
}
#app h2 {
  font-size: 16px;
}
#app h3 {
  font-size: 14px;
}

#app tt, #app pre, #app .ace_editor, .terminal, .stack-view {
  font-size: $font-size-lg;
  line-height: $line-height-lg;
  font-weight: normal;
  font-family: $font-family-monospace;
}
#app ul {
  margin-bottom: 2px;
}

#app .panel {
  margin-bottom: 6px;
  border-radius: 0;
}
#app .panel-heading {
  line-height: 1;
  padding: 2px 4px;
}
#app .panel-body {
  padding: 0;
  min-height: 14px;
}

#app pre {
  background: inherit;
  border: none;
}

.terminal {
  margin: 4px;
  line-height: 16px;
  background-color: #222;
}
.terminal-cursor {
  background-color: #888;
}
.terminal-line, .terminal-placeholder {
  background-color: black;
  width: 540px; /* 60 columns * 9px */
  min-height: 1em;
  white-space: pre;
}
.terminal-line {
  color: #C80;
}
.terminal-placeholder {
  color: #AAA;
}

#vumeter {
  position: fixed;
  left: 10px;
  top: 10px;
}

.stack-view {
  overflow-y: auto;
}
.stack-view .scope-function-top {
  font-weight: bold;
}
.stack-view .scope-function-retval {
  display: inline-block;
  margin-left: 8px;
  font-weight: bold;
}
.stack-view .stack-bottom {
  width: 100%;
  height: 2px;
  border: 2px solid #777;
}
.stack-frame-focused {
  background-color: #eee;
}

.value-load {
  font-weight: bold;
}
.value-previous {
  text-decoration: line-through;
}
span + .value-previous {
  padding-left: 0.5em;
}

.vardecl {
  overflow: hidden;
  max-height: 2 * $line-height-lg;
}

.array-cells {
  margin: 2px;
}
.array-cell {
  float: left;
  width: 64px;
  border: 1px solid black;
}
.array-lastCell {
  border: 1px solid #bbb;
  background-color: #e8e8e8;
}
.array-cell, .array-lastCell {
  border-left: 0;
}
.array-cell:first-child {
  border-left: 1px solid black;
}
.array-cell > * {
  overflow: hidden;
  text-align: center;
  height: 20px;
}

.dev-EventsPanel {
  overflow-y: scroll;
  max-height: 400px;
  font-family: $font-family-monospace;
  font-size: 8px;
}
.dev-EventView {
  width: 100%;
  overflow: hidden;
  max-height: 12px;
}

.code-highlight {
  position: absolute;
  background-color: rgba(100,200,100,0.5);
  z-index: 20;
}

.pane-controls {
  margin-bottom: 6px;
}
.pane-controls > * {
  float: left;
}
.pane-controls > .pane-controls-right {
  float: right;
}
.pane-controls > .pane-controls-right > * {
  float: left;
}
.pane-controls p {
    margin: 7px 0;
}

.controls > * {
  float: left;
}
.controls-main {
  height: 34px;
  width: 440px;
}
.controls-stepper {
  margin: 0 10px;
}
.controls-stepper-execution {
  width: 301px;
}
.controls-stepper-execution p {
  text-align: center;
}
.controls-translate button {
  width: 85px;
  text-align: center;
}
.player-controls-playback button {
  width: 40px;
  text-align: center;
}
.player-controls-times {
  width: 120px;
  text-align: center;
}
.player-slider {
  width: 240px;
}

.size-md {
  #app pre, #app .ace_editor, .terminal, .stack-view {
    font-size: $font-size-md;
    line-height: $line-height-md;
  }
  .terminal-line, .terminal-placeholder {
    width: 60 * 7px;
  }
  .vardecl {
    max-height: 2 * $line-height-md;
  }
}

.size-sm {
  #app pre, #app .ace_editor, .terminal, .stack-view {
    font-size: $font-size-sm;
    line-height: $line-height-sm;
  }
  .terminal-line, .terminal-placeholder {
    width: 60 * 6px;
  }
  .pane-controls button.btn {
    padding: 3px 8px;
  }
  .pane-controls p {
    font-size: 12px;
    margin: 5px 5px;
  }
  .controls-main {
    height: 27px;
    width: 345px;
  }
  .player-controls-playback button {
    width: 30px;
  }
  .controls-stepper-execution {
    width: 237px;
  }
  .controls-translate button {
    width: 80px;
  }
  .player-controls-times {
    width: 90px;
  }
  .player-slider {
    width: 180px;
    height: 27px;
    margin: 0px 12px;
  }
  .nav-examples > li > a {
    padding: 3px 5px;
  }
  .vardecl {
    max-height: 2 * $line-height-sm;
  }
  .array-cell {
    font-size: 10px;
    width: 45px;
  }
  .array-cell > * {
    height: 14px;
  }
}

.editor {
  position: relative;
}
.editor-frame, .editor-shield {
  width: 100%;
  height: 100%;
}
.editor-shield-up {
  z-index: 1;
  cursor: default;
  position: absolute;
  top: 0;
  left: 0;
}

.directive-view {
  float: left;
  overflow: hidden;
}
.directive-view > .directive {
  margin-right: 5px;
}
.directive-title {
  /* reserve space for the btn-xs buttons */
  line-height: 22px;
}
.directive-controls {
  text-align: right;
}

.memory-slider-container {
  margin: 0 24px;
  height: 32px;
  display: inline-block;
  vertical-align: bottom;
  position: relative;
}
.memory-slider-background, .memory-slider-track {
  position: absolute;
  top: 12px;
  width: 100%;
  height: 5px;
  background: #eee;
}
.memory-slider-handle {
  position: absolute;
  top: 7px;
  width: 14px;
  height: 14px;
  cursor: pointer;
  border-radius: 50%;
  border: solid 1px #bbb;
  background-color: #ddd;
  z-index: 2;
}
.memory-controls .start-address {
  display: inline-block;
  vertical-align: top;
}

svg {

  font-family: "Open Sans";
  font-size: 13px;

  /* Common to all directives */
  .grid {
    line {
      stroke: #777;
      stroke-width: 1;
    }
    line.gap {
      stroke-dasharray: 3, 3;
    }
    rect.cell        { fill: none; }
    rect.cell-store  { fill: #FFCDD2; }
    rect.cell-load   { fill: #DCEDC8; }
    rect.cell-cursor { fill: #EEEEEE; }
  }

  .array1d {
    text.index, text.current-content, .previous-content text, .cursors text {
      text-anchor: middle;
    }
    .cursors text {
      font-weight: bold;
    }
    text.index, .previous-content text {
      fill: #777;
    }
    .previous-content line {
      stroke: #777;
      stroke-width: 2;
    }
  }

  .array2d {
    .col-cursors text {text-anchor: middle; font-weight: bold;}
    .row-cursors text {text-anchor: end; font-weight: bold;}
  }

  .sort-view {
    .bar rect {
      fill: #f0f0f0;
      &.load { fill: #DCEDC8; }
      &.store { fill: #FFCDD2; }
      stroke: #777;
      stroke-width: 0.5;
    }
    text.current-content, .previous-content text, text.index, .cursor text.names {
      text-anchor: middle;
    }
    .previous-content line {
      stroke: #777;
      stroke-width: 2;
    }
    .threshold {
      text {
        fill: #444;
        text-anchor: end;
      }
      line {
        stroke: #444;
        stroke-width: 1;
      }
      &.load text { fill: #8BC34A; }
      &.load line { stroke: #8BC34A; }
      &.store text { fill: #F44336; }
      &.store line { stroke: #F44336; }
    }
  }

  .memory-view {
    .grid text, .cell text {
      font-family: monospace;
    }
    .cell text {
      text-anchor: middle;
    }
    .cell .previous-value line {
      stroke: #777;
      stroke-width: 2;
    }
    .grid {
      line {
        stroke: #777;
        stroke-width: 1;
      }
      line.gap {
        stroke-dasharray: 3, 3;
      }
      line.v.block, line.v.function {
        stroke-width: 3;
      }
      line.v.block {
        stroke-dasharray: 5 4;
      }
      line.v.function {
        stroke-dasharray: none;
      }
      line.v.sp {
        stroke: #00f;
      }
    }
    .cursor text {
      text-anchor: middle;
    }
  }

}
