@import url('~typeface-inconsolata');
@import url('~typeface-open-sans');

$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-monospace: 'Inconsolata';
$font-family-console: 'Lucida Console', Monaco, sans-serif;

$font-size-base: 1rem;
$font-size-lg: $font-size-base * 1.12 !default;
$font-size-sm: $font-size-base * .875 !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 800px,
  lg: 1024px,
  xl: 1200px
) !default;

$grid-gutter-width: 6px;

@import "node_modules/bootstrap/scss/bootstrap";

@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/datetime/lib/css/blueprint-datetime.css";

@import "./player/style.scss";
@import "./editor/style.scss";
@import "./task/task.scss";
@import "python";
@import "subtitles";
@import "controls";

html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
}

/* Darker icons on blueprint buttons. */
.bp3-button .bp3-icon, .bp3-button .bp3-icon-standard, .bp3-button .bp3-icon-large {
  color: #3c5060;
}

@font-face {
  font-family: 'fioi';
  src: url('../assets/fioi.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
#main {
  margin: 0 auto;
}

.fi {
  display: inline-block;
  font: normal normal normal 14px/1 'fioi';
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fi-step-over:before {
  content: "\e000";
}
.fi-step-into:before {
  content: "\e001";
}
.fi-step-out:before {
  content: "\e002";
}
.fi-step-expr:before {
  content: "\e003";
}
.fi-interrupt:before {
  content: "\e004";
}
.fi-restart:before {
  content: "\e005";
}
.fi-run:before {
  content: "\e006";
}

.clickable {
  cursor: pointer;
}

.no-select {
     -moz-user-select: none;
      -ms-user-select: none;
   -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

body#app {
  background: none transparent;
}
body#app, #app h1, #app h2, #app h3 {
  font-size: 18px;
  font-weight: normal;
  font-family: $font-family-sans-serif;
}
#app h1, #app h2, #app h3 {
  line-height: 1;
  /* XXX padding: 2px; */
  /* XXX background-color: #eee; */
}
#app h1 {
  font-size: 24px;
}
#app h2 {
  font-size: 18px;
  /* font-weight: bold; */
  /* XXX padding: 5px 6px; */
  /* XXX border-top: 1px solid; */
}
#app h3 {
  font-size: 14px;
  /* XXX margin: 10px 0 0; */
}

#app tt, #app pre, .ace_editor, .diagnostics, .terminal, .stack-view {
  font-weight: normal;
  font-family: $font-family-monospace;
}
#app ul {
  margin-bottom: 2px;
}
#app ul.nav {
  margin: 2px 0;
}
#app pre {
  background: inherit;
  border: none;
}
#app .section {
  margin-top: 10px;
}

// Override bootstrap style
#app .card {
  position: relative;
}
#app .card, #app .navbar {
  margin-bottom: 6px;
  border-radius: 0;
}
#app .card-header {
  line-height: 1;
  padding: 2px 4px;
}
#app .card-body {
  padding: 0;
  min-height: 14px;
}
#app ul.nav {
  margin: 2px 0;
}
#app .navbar {
  min-height: 28px;
}
#app .navbar-nav > li > a {
  padding: 1px 4px;
  min-width: 48px;
  text-align: center;
}


#mainView-container, #mainView-panes {
  display: flex;
  flex-flow: row;
}

#floating-controls {
  padding: 10px;
  top: -1px;
  right: 13px;
  position: fixed;
  border: 1px solid #aaa;
  border-radius: 0 0 5px 5px;
  z-index: 3;
  background-color: #f7f7f7;
  transition: all 250ms;
}
#floating-controls.collapsed {
  transform: translateY(calc(-100% + 10px));
}
#floating-controls .collapse-toggle {
  position: absolute;
  right: -12px;
  bottom: -12px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 50%;
  font-size: 12px;
  line-height: 16px;
  width: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer;
}


.terminal {
  margin: 4px;
  line-height: 16px;
  background-color: #222;
}
.terminal-cursor {
  background-color: #888;
}
.terminal-line, .terminal-placeholder {
  background-color: black;
  min-height: 1em;
  white-space: pre;
}
.terminal-line {
  color: #C80;
}
.terminal-placeholder {
  color: #AAA;
}
.terminal-view-header {
  display: flex;
  align-items: center;
  .bp3-icon {
    margin-left: 5px;
  }
}

#vumeter {
  position: fixed;
  left: 10px;
  top: 10px;
}
#memory-usage {
  position: fixed;
  left: 10px;
  top: 120px;
}

.stack-view {
  overflow-y: auto;
}
.stack-view .scope-function-top {
  font-weight: bold;
}
.stack-view .scope-function-retval {
  display: inline-block;
  margin-left: 8px;
  font-weight: bold;
}
.stack-view .stack-bottom {
  width: 100%;
  height: 2px;
  border: 2px solid #777;
}
.stack-view ul {
  padding-left: 20px;
}
.stack-view  ul.global-scope {
  padding-left: 2px;
}
.stack-view li {
  list-style-type: none;
}
.stack-frame-focused {
  background-color: #eee;
}
.stack-controls {
  position: absolute;
  top: -1px;
  right: -1px;
}
.stack-controls button.bp3-small {
  min-height: 20px;
}

.value-load {
  font-weight: bold;
}
.value-previous {
  color: #999999;
  font-style: italic;
}
.value-previous::before {
  content: '(';
}
.value-previous::after {
  content: ')';
}
span + .value-previous {
  padding-left: 0.5em;
}

.vardecl {
  overflow: hidden;
  max-height: 2 * ceil($line-height-lg * $font-size-lg);
}
.vardecl-object {
  max-height: none;
}

.array-cells {
  margin: 2px;
}
.array-cell {
  float: left;
  width: 64px;
  border: 1px solid black;
}
.array-lastCell {
  border: 1px solid #bbb;
  background-color: #e8e8e8;
}
.array-cell, .array-lastCell {
  border-left: 0;
}
.array-cell:first-child {
  border-left: 1px solid black;
}
.array-cell > * {
  overflow: hidden;
  text-align: center;
  height: 20px;
}

.dev-EventsPanel {
  overflow-y: scroll;
  max-height: 400px;
  font-family: $font-family-monospace;
  font-size: 8px;
}
.dev-EventView {
  width: 100%;
  overflow: hidden;
  max-height: 12px;
}

.code-highlight {
  position: absolute;
  background-color: rgba(100,200,100,0.5);
  z-index: 20;
}

.mainView-lg {
  pre, .ace_editor, .terminal, .stack-view, .subtitles-band-frame {
    font-size: $font-size-lg;
    line-height: ceil($line-height-lg * $font-size-lg);
  }
}

.mainView-md {
  pre, .ace_editor, .terminal, .stack-view, .subtitles-band-frame {
    font-size: $font-size-base;
    line-height: ceil($line-height-base * $font-size-base);
  }
  .terminal-line, .terminal-placeholder {
    width: 60 * 7px;
  }
  .vardecl {
    max-height: 2 * ceil($line-height-base * $font-size-base);
  }
  .vardecl-object {
    max-height: none;
  }
}

.mainView-sm {
  pre, .ace_editor, .terminal, .stack-view, .subtitles-band-frame {
    font-size: $font-size-sm;
    line-height: ceil($line-height-sm * $font-size-sm);
  }
  .terminal-line, .terminal-placeholder {
    width: 60 * 6px;
  }
  .controls-main {
    height: 27px;
    width: 345px;
  }
  .player-controls-playback button {
    width: 30px;
  }
  .player-controls-times {
    width: 90px;
  }
  .player-slider-container .rc-slider {
    width: 180px;
    height: 27px;
    margin: 0px 12px;
  }
  .nav-examples > li > a {
    padding: 3px 5px;
  }
  .vardecl {
    max-height: 2 * $line-height-sm;
  }
  .vardecl-object {
    max-height: none;
  }
  .array-cell {
    font-size: 10px;
    width: 45px;
  }
  .array-cell > * {
    height: 14px;
  }
}

.editor {
  position: relative;
}
.editor-frame, .editor-shield {
  width: 100%;
  height: 100%;
}
.editor-shield  {
  z-index: 1;
  cursor: default;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.editor-shield-up {
  display: block;
}

/* Tweak navbar for view toggle buttons */
.directive-bar {
  margin-bottom: 6px;
}
.directive-bar .bp3-navbar {
  height: 40px;
  padding: 0 8px;
  box-shadow: none;
}
.directive-bar .bp3-navbar-group {
  height: 40px;
}
.directive-bar .bp3-button {
  margin-right: 8px;
}

.directive-view > .directive {
  position: relative;
}
.directive-title {
  /* reserve space for the btn-xs buttons */
  line-height: 22px;
}
.directive-controls {
  text-align: right;
  position: absolute;
  top: -1px;
  right: -1px;
}

.memory-controls .bp3-button-group {
    vertical-align: 6px;
    padding-right: 2px;
}
.memory-controls .start-address {
  display: inline-block;
  vertical-align: top;
}
.memory-slider-container {
  margin: 0 24px;
  height: 32px;
  display: inline-block;
  vertical-align: bottom;
  position: relative;
}
.memory-slider-background, .memory-slider-track {
  position: absolute;
  top: 12px;
  width: 100%;
  height: 5px;
  background: #eee;
}
.memory-slider-handle {
  position: absolute;
  top: 7px;
  width: 14px;
  height: 14px;
  cursor: pointer;
  border-radius: 50%;
  border: solid 1px #bbb;
  background-color: #ddd;
  z-index: 2;
}

svg {
  font-size: 13px;
  font-family: $font-family-sans-serif;

  /* Common to all directives */
  .grid {
    line {
      stroke: #777;
      stroke-width: 1;
    }
    line.gap {
      stroke-dasharray: 3, 3;
    }
    rect.cell           { fill: none;    }
    rect.cell-cursor    { fill: #EEEEEE; }
    rect.cell-load      { fill: #DCEDC8; }
    rect.cell-store     { fill: #FFCDD2; }
  }

  .array1d {
    text.index, text.current-content, .previous-content text, .cursors text {
      text-anchor: middle;
    }
    .cursors text {
      font-weight: bold;
    }
    text.index, .previous-content text {
      fill: #777;
    }
    .previous-content line {
      stroke: #777;
      stroke-width: 2;
    }
  }

  .array2d {
    .col-cursors text {text-anchor: middle; font-weight: bold;}
    .row-cursors text {text-anchor: end; font-weight: bold;}
  }

  .sort-view {
    .bar rect {
      fill: #f0f0f0;
      &.load { fill: #DCEDC8; }
      &.store { fill: #FFCDD2; }
      stroke: #777;
      stroke-width: 0.5;
    }
    text.current-content, .previous-content text, text.index, .cursor text.names {
      text-anchor: middle;
    }
    .previous-content line {
      stroke: #777;
      stroke-width: 2;
    }
    .threshold {
      text {
        fill: #444;
        text-anchor: end;
      }
      line {
        stroke: #444;
        stroke-width: 1;
      }
      &.load text { fill: #8BC34A; }
      &.load line { stroke: #8BC34A; }
      &.store text { fill: #F44336; }
      &.store line { stroke: #F44336; }
    }
  }

  .memory-view {
    .labels text, .cell text {
      font-family: monospace;
    }
    .cell text {
      text-anchor: middle;
    }
    .labels text.center {
      font-weight: bold;
    }
    .cell .previous-value line {
      stroke: #777;
      stroke-width: 2;
    }
    .grid {
      line {
        stroke: #777;
        stroke-width: 1;
      }
      line.gap {
        stroke-dasharray: 3, 3;
      }
      line.v.block, line.v.function {
        stroke-width: 3;
      }
      line.v.block {
        stroke-dasharray: 5 4;
      }
      line.v.function {
        stroke-dasharray: none;
      }
      line.v.sp {
        stroke: #00f;
      }
      /* need to repeat the generic rules to get the priorities right */
      rect.cell             { fill: none;    }
      rect.cell-heap-header { fill: #F8F8F8; }
      rect.cell-heap-free   { fill: #F8F8F8; }
      rect.cell-cursor      { fill: #EEEEEE; }
      rect.cell-load        { fill: #DCEDC8; }
      rect.cell-store       { fill: #FFCDD2; }
    }
    .bytes {
      .cell-heap-header text { fill: #833; }
      .cell-heap-free text { fill: #888; }
    }
    .cursor text {
      text-anchor: middle;
    }
    .var-name { font-size: 9px; }
    .var-name-center { font-weight: bold; }
  }

}

/* Lightbox (used by menu) */

.menu-popup {
  display: block;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
}
.menu-popup > .menu-popup-inset {
  max-width: 800px;
  max-height: 80%;
  background: #fff;
  min-width: 300px;
  min-height: 200px;
  margin: 20px auto 0 auto;
  box-shadow: 5px 5px 10px 0px #000;
  text-align: left;
  padding: 10px;

  .menu-popup-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
  }
}

p.error {
  font-weight: bold;
  color: red;
}

/* highlighted text in subtitles search */
strong.highlight {
  background: yellow;
}

/* generic */
.cc-container {
  margin: 0 auto;
  max-width: 760px;
}

/* login screen */
.cc-login {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  text-align: center;
}
.cc-login h1, .cc-login h3 {
  background-color: white;
}

.buttons-bar {
  display: table-row;
}
.buttons-bar > * {
  display: table-cell;
}

/* New layout classes, use. */

.mb {
  margin-bottom: 10px;
}
.mt {
  margin-top: 10px;
}
.hbox {
  display: flex;
  flex-flow: row;
}
.ihbox {
  display: inline-flex;
  flex-flow: row;
}
.vbox {
  display: flex;
  flex-flow: column;
}
.fill {
  flex-grow: 1;
}

/* Subtitles CC button */
.btn-cc span {
  background-color: #5c7080;
  color: #fff;
  font-family: monospace;
  border-radius: 3px;
  padding: 0 2px;
  width: 20px;
  line-height: 16px;
}
button.btn-cc {
  width: 30px;
}
