$font-family-sans-serif: var(--font-family-sans-serif);
$font-family-monospace: 'Inconsolata';
$font-family-console: 'Lucida Console', Monaco, monospace;

$font-size-base: 1rem;
$font-size-lg: $font-size-base * 1.12 !default;
$font-size-sm: $font-size-base * .875 !default;
