.layout-editor-tabs {
  display: flex;
  align-items: center;
  width: 100%;
  background: #4a4a4a;

  .layout-editor-tab {
    padding: 5px 35px 5px 20px;
    min-width: 200px;
    background: #bfbfbf;
    color: #666;
    display: block;
    text-align: center;
    position: relative;
    font-weight: 600;
    white-space: nowrap;
    &.is-active {
      background: var(--primary-color);
      color: white;
    }
    &:not(.is-active) {
      cursor: pointer;
    }
    svg {
      width: .7em;
    }
    .layout-editor-tab-close {
      position: absolute;
      top: calc(50% - 13px);
      right: 10px;
      cursor: pointer;
      display: none;
    }

    &:hover .layout-editor-tab-close, &.is-active .layout-editor-tab-close {
      display: inline-block;
    }

    .layout-editor-tab-pen {
      cursor: pointer;
      padding: 0 10px;
      display: inline-block;
    }
  }
  .layout-editor-tabs-section {
    flex: 1 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1px;
  }
  .layout-editor-tabs-end {
    flex: 0 1;
    display: flex;
    align-items: center;
    .layout-editor-tabs-option {
      padding: 0 10px;
      color: white;
      cursor: pointer;
    }
  }
}

.layout-editor-tab-edit {
  padding: 10px;
  border-radius: 8px;
  label {
    font-weight: bold;
  }
}

.layout-editor-read-only {
  margin: 10px 40px;
  padding: 10px;
  display: flex;
  align-items: center;
  background: #e0e8f5;
  border-radius: 500px;
  color: var(--primary-color);
  .layout-editor-read-only-icon {
    background: var(--primary-color);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    color: white;
    svg {
      width: 0.7em;
    }
  }
  .layout-editor-read-only-link {
    font-weight: 600;
    text-decoration: underline;
    color: var(--primary-color);
  }
}

.submission-results__selector {
  .no-recent-submission {
    color: white;
    padding: 0 10px;
  }

  .dropdown {
    cursor: auto;
    @include codecast-dropdown;
    .dropdown-menu {
      background: #4a4a4a;
      border-radius: 0;
      border: 0;
      width: 300px;
    }
    .dropdown-toggle {
      background: transparent !important;
      padding-left: 5px !important;
      padding-right: 5px !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      &:after {
        display: none;
      }
    }
    .dropdown-item {
      color: white !important;
      &:hover, &:focus, &:active {
        background: #636363 !important;
      }
    }
  }
}
