.documentation {
  border-left: solid 1px #e7e7e7;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  &.is-standalone {
    height: 100%;
  }

  .documentation-header, .documentation-category-title {
    display: flex;
    min-height: 70px;
    align-items: center;
    border-bottom: solid 1px #e7e7e7;
    h2 {
      flex: 1 0;
      font-size: 22px !important;
      margin-bottom: 0;
    }
  }

  .documentation-task-instructions {
    .task-mission {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  .documentation-tabs {
    display: flex;
    background: #efefef;
    min-height: 50px;
    align-items: center;
    justify-content: center;
    @include mobile {
      display: none;
    }
    .documentation-tab {
      flex: 1 0;
      color: #7c7c7c;
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .documentation-tab-title {
        z-index: 1;
      }
      &.is-active {
        .documentation-tab-title {
          color: var(--primary-color);
        }
        &:after {
          position: absolute;
          content: '';
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: #fff;
          border-radius: 5px;
          height: 100%;
          margin-top: 5px;
        }
      }
    }
  }

  .documentation-tab-left {
    &:first-child {
      margin-top: .75rem;
    }
    display: block;
    padding: .5rem 2rem;
    position: relative;
    color: #7c7c7c;
    user-select: none;
    text-decoration: underline;
    &.is-active {
      background-color: var(--primary-color);
      color: white;
      font-weight: bold;
      .bp3-icon {
        color: white;
      }
    }
    .bp3-icon {
      color: var(--primary-color);
      margin-right: 5px;
    }
    .documentation-tab-title {
      display: flex;
      align-items: center;
    }
  }

  .documentation-concepts-category-title {
    display: flex;
    align-items: center;
    cursor: pointer;
    .documentation-concepts-category-title-name {
      flex: 1 0;
    }
  }

  .documentation-tabs-menu {
    padding: 0 1.5rem;
    color: var(--primary-color);
    svg {
      width: 20px;
      height: 20px;
    }
  }

  .documentation-tabs-end {
    width: .5rem;
  }

  .documentation-header-icon {
    background: var(--secondary-color);
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    margin-right: .8rem;
    padding-left: 1.5rem;
    padding-right: 0.5rem;
    border-left: solid 3px #333333;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    height: 30px;
    &.is-blue {
      background: var(--primary-color);
      border-left-color: #3f618e;
    }
    svg {
      width: 12px;
      height: 12px;
    }
  }

  .documentation-category-title {
    border-bottom: solid 1px #e7e7e7;
    @include mobile {
      display: none;
    }
  }

  .documentation-content {
    padding: 1rem;
    flex: 1 0;

    .documentation-viewer-content {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
    }
  }

  .documentation-tabs-arrow {
    flex: 0 1;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    color: var(--primary-color);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;

    &.is-disabled {
      cursor: not-allowed;
      svg {
        opacity: 0.3;
      }
    }
  }

  .documentation-close-container {
    position: relative;
    width: 40px;
    height: 40px;
  }

  .documentation-close {
    position: absolute;
    top: 8px;
    width: 24px;
    height: 24px;
    opacity: 0.3;
    cursor: pointer;
  }
  .documentation-close:hover {
    opacity: 1;
  }
  .documentation-close:before, .documentation-close:after {
    position: absolute;
    left: 10px;
    content: ' ';
    height: 25px;
    width: 2px;
    background-color: #333;
  }
  .documentation-close:before {
    transform: rotate(45deg);
  }
  .documentation-close:after {
    transform: rotate(-45deg);
  }

  .documentation-body {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 0;
    .documentation-menu {
      flex-basis: 33%;
      max-width: 400px;
      border-right: solid 1px #e7e7e7;
      overflow-y: auto;
      padding-bottom: 10px;
      @include mobile {
        display: none;
      }
    }
    .documentation-aside {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      @include mobile {
        padding: 0;
      }
    }
  }

  &.is-big {
    .documentation-tabs {
      display: none;
    }
  }

  &.is-small {
    .documentation-menu {
      display: none;
    }
  }

  .documentation-language-selector {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    @include mobile {
      display: none;
    }
  }

  .documentation-category-dropdown, .documentation-language-dropdown {
    align-items: center;
    min-height: 50px;
    border-bottom: solid 1px #e7e7e7;
    display: none;
    @include mobile {
      display: flex;
    }
  }

  .documentation-select {
    &.bp3-label {
      margin-bottom: 0 !important;
      .bp3-select {
        margin-top: 0 !important;
        &:after {
          display: none !important;
        }
      }
      select {
        box-shadow: none;
        color: white;
        border-radius: 50px;
        padding: 0 2rem 0 1rem;
        font-weight: bold !important;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: var(--primary-color);
        background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        background-repeat: no-repeat;
        background-position-x: calc(100% - 3px);
        background-position-y: 4px;
      }
    }
  }

  .documentation-new-window {
    color: var(--primary-color);
    margin-right: .75em;
  }
}

.documentation-task-instructions-only {
  height: 100%;
  background-color: #fffaeb;
}
