doctype html
head(lang='fr')
  meta(charset='utf-8')
  title Codecast - Signed in
body
  script(type='text/javascript', src=rebaseUrl('build/jschannel.js'))
  script.
    const channel = window.Channel.build({window: window.opener, origin: '*', scope: 'login'});
    channel.notify({
        method: 'sendLoginFeedback',
        params: {
            user: !{user ? JSON.stringify(user) : "null"},
            token: !{token ? JSON.stringify(token) : "null"},
            error: !{error ? JSON.stringify(error) : "null"},
        }
    });
    window.close();
