doctype html
head(lang='fr')
  meta(charset='utf-8')
  title codecast - signed in
body
  script
    if user
      | window.opener.postMessage(!{JSON.stringify({dispatch: {type: 'Login.Feedback', payload: {user: user}}})}, window.location.origin); window.close();
    else
      | window.opener.postMessage(!{JSON.stringify({dispatch: {type: 'Login.Feedback', payload: {error: error}}})}, window.location.origin); window.close();
