doctype html
head(lang='fr')
  meta(charset='utf-8')
  title Codecast - Signed out
body
  script
    | if (window.opener) {
    |   window.opener.postMessage(JSON.stringify(!{JSON.stringify({dispatch: {type: 'Logout.Feedback'}})}), window.location.origin);
    if logoutUri
      | window.location.href = !{JSON.stringify(logoutUri)};
    else
      | window.close();
    | }
