doctype html
head(lang='fr')
  meta(charset='utf-8')
  title France-ioi recorder
  link(href='https://fonts.googleapis.com/css?family=Inconsolata:400,700', rel='stylesheet', type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')
body(id='app')
  div(id='react-container')
    p Chargement en cours, merci de patienter...
  script(type='text/javascript', src=rebaseUrl('build/vendor.js'))
  script(type='text/javascript', src=rebaseUrl('build/recorder.js'))
