doctype html
head(lang='fr')
  meta(charset='utf-8')
  title codecast
body(id='app')
  div(id='react-container')
    div(style='width: 256px; height: 256px; margin: 0 auto;')
      img(src=rebaseUrl('assets/loading.gif'))
  script(type='text/javascript', src=rebaseUrl('build/vendor.js'))
  script(type='text/javascript', src=rebaseUrl('build/index.js'))
  script(type='text/javascript') Codecast.start(!{JSON.stringify(options)})
