doctype html
head(lang='fr')
  meta(charset='utf-8')
  title Codecast
body(id='app')
  div(id='react-container')
    div(style='width: 256px; height: 256px; margin: 0 auto;')
      img(src='assets/loading.gif')
  script(type='text/javascript', src='assets/offline.js')
  script(type='text/javascript', src='build/index.js')
  script(type='text/javascript', src='assets/skulpt.js')
  script(type='text/javascript', src='assets/skulpt-stdlib.js')
  script(type='text/javascript', src='assets/debugger.js')
  script(type='text/javascript') Codecast.start(!{JSON.stringify(options)})
