doctype html
head(lang='fr')
  meta(charset='utf-8')
  title France-ioi sandbox
body(id='app')
  div(id='react-container')
    p Chargement en cours, merci de patienter...
  script(type='text/javascript', src='build/vendor.js')
  script(type='text/javascript', src='build/sandbox.js')
