$tralalere-green-blue: #05A8AA;
$tralalere-violet: #5158BB;
$tralalere-dark-blue: #043565;
$tralalere-green: #85FF00;
$tralalere-red: #FF3C11;

[data-theme="tralalere"] {
  --primary-color: #043565;
  --secondary-color: #1f1f1f;
  --font-family-sans-serif: 'Roboto', sans-serif;
  --default-border-radius: 7px;
}

.tralalere {
  .tralalere-instructions {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    .tralalere-instructions-container {
      margin-left: 20px;
      margin-top: 12px;
      padding-left: 134px;

      background: $tralalere-green-blue;
      border-radius: 50px;
      box-shadow: -15px 15px #383961;

      display: flex;
      align-items: center;
      padding-right: 30px;

      .task-mission {
        color: white;
        padding-top: 12px;
        margin-right: 20px;

        h1 {
          color: white;
          font-weight: bold !important;
          font-size: 1rem !important;
          margin-bottom: .5rem !important;
        }
      }

      &.is-limited .task-mission {
        height: 80px;
        overflow: hidden;
      }
    }

    .tralalere-instructions-window {
      position: absolute;
      left: 60px;
      top: 3px;
    }

    .tralalere-instructions-left {
      position: absolute;
      left: 4px;
      top: 2px;
    }
    .tralalere-instructions-shadow-right {
      position: absolute;
      left: 5px;
      top: 6px;
    }
    .tralalere-instructions-shadow-down {
      position: absolute;
      left: -5px;
      top: 20px;
    }
    .tralalere-instructions-around-left {
      box-shadow: -15px 15px #383961;
      border-radius: 50px;
      position: absolute;
      left: 14px;
      top: 3px;
      width: 134px;
      height: 95px;
      display: block;
    }
  }

  .tralalere-section {
    display: flex;
    flex: 50%;
    min-height: 0;
    width: 100vw;
    background: radial-gradient(65.09% 65.09% at 50% 50%, #05A8AA 0%, #383961 100%);
  }

  .tralalere-visualization, .blockly-editor {
    flex: 50%;
    min-height: 0;
    display: flex;
    flex-direction: column;
  }

  .tralalere-visualization {
    background-size: cover;
    padding-top: 40px;
    border-radius: 6px 6px 0px 0px;
    position: relative;

    .context-visualization {
      margin-top: 90px;
    }
  }

  .tralalere-menu-icons {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 10;

    > div:not(:first-child) {
      margin-top: 10px;
    }
  }

  .blockly-editor {
    position: relative;
    .layout-editor {
      min-height: 0;
    }
    .blocklySvg {
      background: transparent;
    }
    .blocklyFlyoutBackground {
      fill: $tralalere-dark-blue;
      //stroke: $tralalere-green-blue;
      stroke-width: 3;
      fill-opacity: 1;
    }
    .blocklyTrash {
      display: none;
    }
  }
}

.blockly-flyout-wrapper {
  border: solid 4px $tralalere-green-blue;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: var(--flyout-width);
  bottom: 0;
  border-radius: 15px;
  background: linear-gradient(to bottom, rgba(255,0,0,0) 0%, rgba(255,0,0,0) 80%, $tralalere-dark-blue 80%, $tralalere-dark-blue 100%);
}
.blockly-flyout-wrapper-bottom {
  position: absolute;
  bottom: 0;
  right: -3px;
  border-bottom-right-radius: 12px;
}

.tralalere-button {
  height: 50px;
  width: 50px;

  background: $tralalere-dark-blue;
  border: 2px solid $tralalere-green;
  border-radius: 7px;

  display: flex;
  align-items: center;
  justify-content: center;
  color: $tralalere-green;
  font-size: 30px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: -4px 4px #1D1E47;
  user-select: none;

  &[disabled] {
    cursor: not-allowed;
    border: 2px solid rgba(133, 255, 0, 0.3);
  }

  &[disabled] svg {
    opacity: 0.4;
  }
}

.tralalere-controls {
  height: 100px;
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  padding-left: var(--flyout-width);
  > div {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .error-message {
    background: $tralalere-dark-blue;
    border: 3px solid $tralalere-red;
    box-shadow: -6px 6px #1D1E47;
    border-radius: 7px;
    margin-left: 6px;
    margin-right: 10px;
    margin-bottom: 10px;
    min-height: 90px;
    display: flex;
    align-items: center;
    .close-button {
      background: #043565;
      border: 2px solid $tralalere-red;
      border-radius: 7px;
      box-shadow: -6px 6px #1D1E47;
      top: -10px;
      right: -10px;
      width: 30px;
      height: 30px;
      color: $tralalere-red;
      padding: 0;
      svg {
        width: 20px;
        height: 20px;
      }
    }
    .error-message-wrapper {
      justify-content: center;
      width: 100%;
      height: 100%;
      svg {
        margin-left: 15px;
        margin-right: 15px;
      }
    }
    .message {
      color: white;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
    }
  }
}

.tralalere-control-button-container {
  margin-right: 15px;
  .tralalere-button {
    height: 70px;
    width: 70px;
    border-radius: 20px;
    svg {
      width: 40px;
      height: 40px;
    }
  }
}

.tralalere-box {
  background: $tralalere-dark-blue;
  border: 4px solid $tralalere-green-blue;
  box-shadow: -5px 5px 0px #1D1E47;
  border-radius: 15px;
  position: relative;

  .tralalere-box-header {
    background: #05A8AA;
    border-radius: 7px;
    display: flex;
    height: 70px;
    align-items: center;
    box-shadow: 0px 5px 0px #1D1E47;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    font-weight: 900;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;

    .tralalere-box-header-icon {
      display: flex;
      width: 60px;
      align-items: center;
      justify-content: center;
      font-size: 30px;
    }

    .tralalere-box-header-title {
      flex: 1 0;
    }

    .tralalere-box-header-close {
      padding-right: 10px;
      .tralalere-button {
        width: 38px;
        height: 38px;
      }
    }
  }
}

.tralalere-hints {
  position: absolute;
  padding-left: calc(10px + var(--flyout-width));
  width: calc(100% - 8px);
  top: 8px;
  left: 0;
  z-index: 50;

  .hint-unlock {
    margin-top: 10px;

    .hint-button {
      height: 40px;
      font-size: 16px;
      width: fit-content;
      padding: 0 30px;
      margin: auto;
    }
  }

  .hint-carousel-item {
    font-weight: 400;
    line-height: 20px;
    color: white;
  }

  // Carousel
  .carousel-container {
    position: relative;
  }

  .carousel {
    .carousel-control-prev, .carousel-control-next, .carousel-control-prev:focus, .carousel-control-next:focus {
      color: white;
      width: 7%;
      opacity: 1;
    }
    .carousel-control-prev:hover, .carousel-control-next:hover {
      color: #ddd;
    }
    .carousel-item {
      padding: 30px 60px 60px;
    }
    .carousel-indicators button {
      height: 6px;
      opacity: 0.3;
      &.active {
        opacity: 1;
      }
    }
    .carousel-item h3 {
      color: #699669;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .carousel-item {
      color: #727272;
    }
    .carousel-item .row {
      align-items: center;
    }
    .carousel-item .row.is-vertical-top {
      align-items: flex-start;
    }
    .carousel-item img {
      width: 100%;
    }
    .carousel-item ul {
      //margin-bottom: 0;
    }
  }
}

.tralalere-doc {
  background: transparent;
  padding: 0;
  width: 80vw;
  height: 600px;
  max-height: 80vh;

  > .tralalere-box {
    height: 100%;
  }

  .documentation {
    border-left: none;
  }

  .documentation-menu {
    border-right: 4px solid #05A8AA !important;
    border-bottom: 4px solid #05A8AA !important;
    margin-bottom: -4px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 4px;
  }

  .documentation-tab-left {
    display: block;
    background: $tralalere-dark-blue;
    border: 2px solid $tralalere-green;
    color: $tralalere-green;
    border-radius: 6px;
    padding: 10px 10px;
    height: initial;
    text-decoration: none;
    font-weight: 900;
    margin: 15px 15px;

    .bp3-icon-dot {
      display: none;
    }

    &.is-active {
      background: $tralalere-green;
      color: $tralalere-dark-blue;
    }
  }

  .documentation-category-title {
    display: none;
  }

  .documentation-content {
    padding: 1rem;
  }
}
