.task .controls-and-errors {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #f1f2f7;
}

.task .stepper-controls-container {
  flex: 1 0;
  display: flex;
  align-items: center;
  height: 100%;
}

.task .controls-stepper {
  padding: 5px 15px;
  display: flex;
  align-items: center;
  width: 100%;
  &.normal {
    max-width: 550px;
  }
  &.step_by_step {
    width: initial;
  }

  > .is-extended {
    flex: 10 0;
  }

  > .is-narrow {
    flex: 0 1;
  }

  .speed-slider {
    background-color: rgba(0,0,0,0.10);
    box-shadow: 1px 1px 0 0 rgb(0 0 0 / 10%) inset;
    border-radius: 5px;
    font-size: 18px;
    color: #4a4a4a;
    height: 36px;
    display: flex;
    align-items: center;
    margin: 0 20px;
    max-width: 300px;
    .player-slider-container {
      display: flex;
      align-items: center;
      width: 100%;
    }
    .bp3-slider-axis, .bp3-slider-label {
      display: none;
    }
    .bp3-slider {
      height: 13px;
      min-width: initial;
    }
    .bp3-slider-track {
      height: 3px;
    }
    .bp3-slider-handle {
      background: $primary;
      border-radius: 50px;
      width: 30px;
      outline: none;
      transform: translate(-7px, 0);
      top: -2px;
      &:after {
        content: '';
        display: block;
        color: white;
        position: absolute;
        left: 8px;
        top: 7px;
        right: 8px;
        border-bottom: solid 3px white;
      }
    }
    .bp3-slider-progress.bp3-intent-primary {
      background-color: $primary;
    }
    .extremity {
      opacity: 0.5;
      &.extremity-left {
        margin-right: 20px;
      }
      &.extremity-right {
        margin-left: 20px;
      }
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  .control-button-container {
    flex: 1 0;
  }

  .bp3-button {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: 500px;
    background: $primary;
    color: white;
    height: 40px;
    width: 40px;
    margin: 0 10px 0 0;
    border: none;
    box-shadow: none !important;
    .bp3-icon {
      color: inherit;
    }
    svg {
      width: 18px;
      height: 18px;
    }
    &[disabled] {
      opacity: 0.3;
    }
  }

  .bp3-button.is-small {
    height: 30px;
    width: 30px;
    svg {
      width: 13px;
      height: 13px;
    }
  }
}

// Responsive
.layout-mobile-horizontal.task, .layout-mobile-vertical.task {
  .stepper-controls-container {
    background: $primary;
  }

  .speed-slider {
    box-shadow: none;
    background-color: initial;
    .extremity {
      color: white;
      opacity: 1;
    }
    .bp3-slider-handle {
      background: white;
      &:after {
        border-bottom-color: $primary;
      }
    }
    .bp3-slider-progress {
      background: rgba(92, 112, 128, 0.76) !important;
    }
  }

  .controls-stepper {
    .bp3-button {
      margin-right: 4px;
      svg {
        width: 18px;
        height: 18px;
      }
    }
  }

  .speed-slider {
    margin: 0;
  }
}

.layout-mobile-vertical.task {
  .controls-stepper {
    padding: 0 8px;
  }
  .controls-stepper.step_by_step {
    padding: 0 5px;
    width: 100%;
    .bp3-button {
      margin-right: 0px;
      width: 30px;
      height: 30px;
    }
  }
}

.layout-tablet-vertical .controls-stepper {
  justify-content: center;
}
