@mixin mobile {
  @media screen and (max-width: 767px) {
    @content
  }
}

@mixin not-mobile {
  @media screen and (min-width: 768px) {
    @content
  }
}

@mixin control-button {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 500px;
  background: var(--primary-color);
  color: white;
  height: 40px;
  width: 40px;
  margin: 0 10px 0 0;
  border: none;
  box-shadow: none !important;
  .bp6-icon {
    color: inherit;
  }
  svg {
    width: 18px;
    height: 18px;
  }
  &[disabled] {
    opacity: 0.3;
  }
  &.is-small {
    height: 30px;
    width: 30px;
    svg {
      width: 13px;
      height: 13px;
    }
  }
}

@mixin codecast-dropdown {
  .dropdown-toggle {
    width: 100%;
    border: none !important;
    outline: none;
  }
  .dropdown-menu {
    //width: 100%;
  }
  .dropdown-item {
    outline: none;
    text-decoration: initial;
    &:active {
      background-color: #e9ecef;
      color: #1e2125;
    }
  }
}
