name: Development checks

on:
- push
- pull_request

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup node
      uses: actions/setup-node@v1
      with:
        node-version: 14.18.x
        registry-url: "https://npm.pkg.github.com"
      env:
        NODE_AUTH_TOKEN: ${{ secrets.PACKAGE_PAT }}
    - name: Cache node modules
      uses: actions/cache@v2
      with:
        path: node_modules
        key: v1-npm-deps-${{ hashFiles('yarn.lock') }}
        restore-keys: v1-npm-deps-
    - name: Fetch git submodules
      run: git submodule update --init
    - name: Install dependencies
      run: yarn install --frozen-lockfile
      env:
        NODE_AUTH_TOKEN: ${{ secrets.PACKAGE_PAT }}
    - name: Copy default config file
      run: cp config.json.template config.json
    - name: Build app
      run: webpack --mode=production

  lint:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup node
      uses: actions/setup-node@v1
      with:
        node-version: 14.18.x
        registry-url: "https://npm.pkg.github.com"
      env:
        NODE_AUTH_TOKEN: ${{ secrets.PACKAGE_PAT }}
    - name: Cache node modules
      uses: actions/cache@v2
      with:
        path: node_modules
        key: v1-npm-deps-${{ hashFiles('yarn.lock') }}
        restore-keys: v1-npm-deps-
    - name: Install dependencies
      run: yarn install --frozen-lockfile
      env:
        NODE_AUTH_TOKEN: ${{ secrets.PACKAGE_PAT }}
    - name: Run linter
      run: yarn lint
