@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body#app, #app h1, #app h2, #app h3 {
  font: 14px/normal 'Open Sans';
}
#app h1, #app h2, #app h3 {
  line-height: 1;
  padding: 2px;
  background-color: #eee;
}
#app h1 {
  font-size: 18px;
}
#app h2 {
  font-size: 16px;
}
#app h3 {
  font-size: 14px;
}

#app pre, #app .ace_editor, .terminal, .stack-view {
  font: 14px/normal 'Inconsolata';
}
#app ul {
  margin-bottom: 2px;
}

#app .col-lg-1, #app .col-lg-2, #app .col-lg-3, #app .col-lg-4, #app .col-lg-5,
#app .col-lg-6, #app .col-lg-7, #app .col-lg-8, #app .col-lg-9, #app .col-lg-10,
#app .col-lg-11, #app .col-lg-12,
#app .col-md-1, #app .col-md-2, #app .col-md-3, #app .col-md-4, #app .col-md-5,
#app .col-md-6, #app .col-md-7, #app .col-md-8, #app .col-md-9, #app .col-md-10,
#app .col-md-11, #app .col-md-12,
#app .col-sm-1, #app .col-sm-2, #app .col-sm-3, #app .col-sm-4, #app .col-sm-5,
#app .col-sm-6, #app .col-sm-7, #app .col-sm-8, #app .col-sm-9, #app .col-sm-10,
#app .col-sm-11, #app .col-sm-12,
#app .col-xs-1, #app .col-xs-2, #app .col-xs-3, #app .col-xs-4, #app .col-xs-5,
#app .col-xs-6, #app .col-xs-7, #app .col-xs-8, #app .col-xs-9, #app .col-xs-10,
#app .col-xs-11, #app .col-xs-12 {
  padding-right: 3px;
  padding-left: 3px;
}
#app .row {
  margin-right: -3px;
  margin-left: -3px;
}
#app .panel {
  margin-bottom: 6px;
  border-radius: 0;
}
#app .panel-heading {
  line-height: 1;
  padding: 2px 4px;
}
#app .panel-body {
  padding: 0;
  min-height: 14px;
}

#app pre {
  background: inherit;
  border: none;
}

.terminal {
  padding: 4px;
  line-height: 16px;
}
.terminal-line {
  background: black;
  color: #C80;
  width: 320px;
  min-height: 1em;
  white-space: pre;
}

#vumeter {
  position: fixed;
  left: 10px;
  top: 10px;
}

.stack-view .scope-decl-load {
  font-weight: bold;
}
.stack-view .scope-decl-prevValue {
  text-decoration: line-through;
  padding-left: 0.5em;
}
.stack-view .scope-function-top {
  font-weight: bold;
}
.stack-view .scope-function-return {
  padding-left: 24px;
}
.stack-view .scope-function-retval {
  display: inline-block;
  margin-left: 8px;
  font-weight: bold;
}
.stack-view .stack-bottom {
  width: 100%;
  height: 2px;
  border: 2px;
}

.constantArray-elems {
  margin: 2px;
}
.constantArray-elemView {
  float: left;
  width: 64px;
  border: 1px solid black;
  border-left: 0;
}
.constantArray-elemView:first-child {
  border-left: 1px solid black;
}
.constantArray-elemView > * {
  height: 20px;
  overflow: hidden;
  text-align: center;
}

.value-loaded {
  font-weight: bold;
}
.value-changed {
  text-decoration: line-through;
}

.dev-EventsPanel {
  overflow-y: scroll;
  max-height: 400px;
  font-family: monospace;
  font-size: 8px;
}
.dev-EventView {
  width: 100%;
  overflow: hidden;
  max-height: 12px;
}

.code-highlight {
  position: absolute;
  background: rgba(100,200,100,0.5);
  z-index: 20;
}

.pane-controls > * {
  float: left;
}
