.dev-EventsPanel {
  overflow-y: scroll;
  max-height: 400px;
  font-family: monospace;
  font-size: 8px;
}

.dev-EventView {
  width: 100%;
  overflow: hidden;
  max-height: 12px;
}

.terminal {
  font-family: monospace;
  font-size: 12px;
  padding: 4px;
  line-height: 16px;
}
.terminal-line {
  background: black;
  color: #C80;
  width: 320px;
  min-height: 1em;
  white-space: pre;
}

#vumeter {
  position: fixed;
  left: 10px;
  top: 10px;
}

.stack-view {
  font: 12px/normal monospace;
}
.stack-view .scope-decl-load {
  font-weight: bold;
}
.stack-view .scope-decl-prevValue {
  text-decoration: line-through;
  padding-left: 0.5em;
}

.constantArray-elemView {
  float: left;
  width: 64px;
  border: 1px solid black;
  border-left: 0;
}
.constantArray-elemView:first-child {
  border-left: 1px solid black;
}
.constantArray-elemView > * {
  height: 20px;
  overflow: hidden;
  text-align: center;
}

.value-loaded {
  font-weight: bold;
}
.value-changed {
  text-decoration: line-through;
}
